
<section>
  <h2 class="text-3xl font-bold my-0 text-main mt-2 dark:text-white">All popular products</h2>

  <div class="container gap-10 text-center p-5 mx-auto w-[50%]">
    <input
      [(ngModel)]="text"
      type="search"
      id="default-search"
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50
             focus:ring-main focus:border-main
             dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
             dark:focus:ring-main dark:focus:border-main"
      placeholder="Search Mockups, Logos..."
      required
    />
  </div>

  <select
    [(ngModel)]="sortBy"
    (change)="filterProducts()"
    class="border px-4 py-2 rounded-md w-full md:w-1/4 mt-2 mb-5
           dark:bg-gray-700 dark:text-white dark:border-gray-600"
  >
    <option value="">Sort by : Featured</option>
    <option value="nameAZ">Name A–Z</option>
    <option value="priceLow">Price: Low to High</option>
    <option value="priceHigh">Price: High to Low</option>
  </select>

  @let searchArr =  prodect.slice(0,15) | searchpip : text;

 @if(searchArr.length){
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
   

      @for (prod of searchArr; track prod.id) {
        <div
          class="relative group border rounded-md p-4 overflow-hidden cursor-pointer 
                 dark:bg-gray-800 dark:border-gray-600 dark:text-white"
          [routerLink]="['/prodectdetails', prod.id]"
        >
          <img
            [src]="prod.image"
            [alt]="prod.title"
            class="w-full h-40 object-contain mb-3 transition-transform duration-300 group-hover:scale-105"
          />
  
          <div
            class="absolute inset-0 bg-black/20 bg-opacity-40 hidden group-hover:flex items-center justify-center
                   transition duration-300"
          >
            <i class="fa-solid fa-arrow-up-right-from-square text-white text-2xl"></i>
          </div>
  
          <h2 class="font-semibold text-sm mb-1">{{ prod.title.split(' ', 20).join(' ') }}</h2>
        </div>
      }
    
  </div>
}@else {
      <div class="text-center">
        <h3 class="text-red-600 font-bold text-4xl text-center">NO Product Found</h3>
      </div>
    }
</section>