<!-- <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-6 pb-10">
@for (prod of prodect; track $index) {

    <div class="border rounded-md p-4" >
    <img [src]="prod.image" alt="product image" class="w-full h-40 object-contain mb-3" />
    <h2 class="font-semibold text-sm mb-1">{{prod.title}}</h2> -->
    <!-- <div class="">
        <i class="fa-solid fa-star text-yellow-500 text-sm mb-1"></i>
        {{prod.price}}
    </div> -->
    <!-- <p class="font-bold">le 700</p> -->
   
  <!-- </div>
} 
</div> -->


<!-- <div class="flex flex-col md:flex-row gap-4 px-6 mb-20"> -->
  <!-- <input type="text" placeholder="Search products..." class="border px-4 py-2 rounded-md w-full md:w-1/2" /> -->
  <!-- <select class="border px-4 py-2 rounded-md w-full md:w-1/4"> -->
    <!-- <option selected>Sort by</option> -->
    <!-- <option>Price: Low to High</option>
    <option>Price: High to Low</option>
    <option>Name A–Z</option>
  </select>
</div> -->

<section>
    <h2 class="text-3xl font-bold my-0 text-main mt-2">All popular products</h2>
<div class=" container gap-10 text-center p-5 mx-auto w-[50%] ">
    
     <input [(ngModel)]="text"  type="search" id="default-search" class="  block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main" placeholder="Search Mockups, Logos..." required />
  <!-- <input [(ngModel)]="text"  type="search" id="default-search" class="  block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main" placeholder="Search Mockups, Logos..." required /> -->
         <!-- <input [(ngModel)]="text" type="search"  placeholder="search ny name...." class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"> -->

</div>


 <select
    [(ngModel)]="sortBy" (change)="filterProducts()" class="border px-4 py-2 rounded-md w-full md:w-1/4 mt-2 mb-5"
  >
    <option value="">Sort by :Featured</option>
     <option value="nameAZ">Name A–Z</option>
    <option value="priceLow">Price: Low to High</option>
    <option value="priceHigh">Price: High to Low</option>
   
  </select>
<!-- @if (prod.) {

} -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3  gap-10 " >

       
      @for (prod of prodect.slice(0,15)| searchpip :text; track prod.id) {
         <div
      class="relative group border rounded-md p-4 overflow-hidden cursor-pointer "
      [routerLink]="['/prodectdetails', prod.id]"
    >
      <img
        [src]="prod.image"
        [alt]="prod.title"
        class="w-full h-40 object-contain mb-3 transition-transform duration-300 group-hover:scale-105  "
      />

      <!-- overlay -->
      <div
        class="absolute hover:bg-black/20 inset-0  bg-opacity-40 hidden group-hover:flex items-center justify-center transition duration-300"
      >
       
        <i class="fa-solid fa-arrow-up-right-from-square text-white text-2xl"></i>
      </div>

    <!-- <div class="border rounded-md p-4   hover:bg-[#7F7F7F]"[routerLink]="['/prodectdetails',prod.id]" >
    <img [src]="prod.image" [alt]="prod.title" class="w-full h-40 object-contain mb-3" /> -->
    <h2 class="font-semibold text-sm mb-1">{{prod.title.split(' ',20).join(' ')}}</h2> 
    <!-- <div class="">
        <i class="fa-solid fa-star text-yellow-500 text-sm mb-1"></i>
        {{prod.price}}
    </div>  -->
   <!-- - <p class="font-bold">le 700</p>  -->
   
  </div>
} 

<!-- @else {
   <div class="p-6">
    <h1 class="text-5xl text-red-600 text-center">No Data Found</h1>
   </div>
}  -->
</div>  

            
        
       
        
  
</section>
