<!-- 
<div class="text-center mb-7">
<h3 class="text-[#9F9F9F] bg-black p-4 font-bold text-md">Copyright © 2025,<span class="text-[#EB5D3A]"> Heba Hesham</span> Rights Reserved.</h3>
</div> -->

<!-- <div class="bg-black p-5 text-center  mt-6 ">
    <div class="text-white font-bold text-2xl">Copyright © 2025,<span class="text-[#EB5D3A]"> Heba Hesham</span> Rights Reserved.</div>
 
</div> -->
<footer class="bg-white py-4 mt-10 text-center w-full">
  <p class="text-black text-sm md:text-base font-medium">
    Copyright © 2025, 
    <span class="text-[#EB5D3A] font-semibold">Heba Hesham</span> 
    Rights Reserved.
  </p>
</footer>
