@if(detailsproduct){
<section class="container mx-auto">
  <h1 class="text-center text-4xl text-main my-2 dark:text-white">Details Product</h1>

  <div class="flex flex-wrap group place-items-center gap-8">
    <div class="w-full md:w-3/12">
      <img [src]="detailsproduct.image" class="w-full rounded-md" [alt]="detailsproduct.title" />
    </div>

    <div class="w-full md:w-6/12 mx-auto">
      <h2 class="text-xl font-semibold mb-2 dark:text-white">{{ detailsproduct.title }}</h2>
      <p class="text-gray-600 dark:text-gray-300 mb-4">{{ detailsproduct.description }}</p>

      <div class="flex justify-between items-center mb-3">
        <p class="text-gray-800 dark:text-gray-200 font-medium">Price: {{ detailsproduct.price }} EGP</p>
        <h3 class="text-sm font-bold text-gray-600 dark:text-gray-400">{{ detailsproduct.category }}</h3>
      </div>

      <div class="flex items-center gap-2 mb-4">
        <!-- @for (num of [1,2,3,4,5].slice(0 ,detailsproduct.rating.rate; track $index) -->
        <i class="fa-solid fa-star-half-stroke text-[#ffc908]"></i>
        <span class="text-slate-500 dark:text-slate-300">{{ detailsproduct.rating?.rate }}</span>
      </div>

      <button
        class="bg-black text-white w-full p-2 rounded-md font-bold transition-all duration-300 cursor-pointer hover:bg-white hover:text-black hover:border border-amber-900 dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white"
      >
        + Add to cart
      </button>
    </div>
  </div>
</section>
}
